<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="cards">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cats</mat-card-title>
      <mat-card-subtitle>CatsLove</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE6fzWn2nBAkyz-ylpAJGOKgpJ3qfSU8WhZw&usqp=CAU" alt="" height="250px">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet itaque nostrum officia, placeat a mollitia nemo voluptatem architecto, quae odio laudantium voluptate! Quod perferendis alias itaque quasi suscipit, fugiat culpa eos! Laudantium, et veritatis. Possimus reprehenderit doloribus praesentium sint repellendus tempora perferendis sed dolores! Eaque similique veritatis iure quia molestiae,
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cats</mat-card-title>
      <mat-card-subtitle>CatsLove</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK8Bzl30dFLJ9itSpR8sR2rV8ygLm5vfdQHw&usqp=CAU" alt="" height="250px">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet itaque nostrum officia, placeat a mollitia nemo voluptatem architecto, quae odio laudantium voluptate! Quod perferendis alias itaque quasi suscipit, fugiat culpa eos! Laudantium, et veritatis. Possimus reprehenderit doloribus praesentium sint repellendus tempora perferendis sed dolores! Eaque similique veritatis iure quia molestiae,
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cats</mat-card-title>
      <mat-card-subtitle>CatsLove</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB2ysrPvhIBLoo22vh1IW1cPRT4YEaSA52Rg&usqp=CAU" alt="" height="250px">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet itaque nostrum officia, placeat a mollitia nemo voluptatem architecto, quae odio laudantium voluptate! Quod perferendis alias itaque quasi suscipit, fugiat culpa eos! Laudantium, et veritatis. Possimus reprehenderit doloribus praesentium sint repellendus tempora perferendis sed dolores! Eaque similique veritatis iure quia molestiae,
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
      
    </mat-card-actions>
  </mat-card>

</div>